# User-specific files
*.suo
*.user
*.sln.docstates

# Build results
artifacts/
cache/
build/
bin/
obj/

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config


# Database project
# Import schema db logs
**/Import Schema Logs/*
# files
*.jfm
*.dbmdl
*.lock